/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* CSS reset ^^^ */

/* colors and fonts */
:root {
  --yellow: #f4d04e;
  --black: #111;
}

body {
  font-family: "Figtree", sans-serif;
}

/* background and card styles*/

.background {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-inline: 1.5rem;
  padding: 1.5rem; /* migth replace this with em idk */
  width: 384px;
  border-radius: 10px;
  line-height: 150%;
  border: 1px solid var(--black);
  box-shadow: 8px 8px 0px 0px #000;
}

.card__illustration {
  margin-bottom: 1.5rem;
  border-radius: 20px;
}

/* card text*/

.card__text--small {
  font-size: clamp(0.75rem, 0.875rem, 2.5vw);
}

.card__category {
  font-weight: 800;
}

.card__publishing-date {
  font-weight: 500;
}
.card__heading {
  font-size: clamp(1.25rem, 1.5rem, 4vw);
  font-weight: 800;
  margin: 0;
}

/* interactive heading */
.card__heading:hover {
  cursor: pointer;
  color: var(--yellow);
}

.card__description {
  color: #7f7f7f;
  font-size: clamp(0.875rem, 1rem, 2.5vw);
}

/* category styling */

.card__category {
  padding: 0.25em 0.75em;
  background-color: var(--yellow);
  border-radius: 4px;
}

/* card info */

.card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card__info * {
  margin-bottom: 0.75rem;
}

.card__description {
  margin-bottom: 1.5rem;
}

/* card author */

.card__author-info {
  display: flex;
  align-items: center;
}
.card__authors-profile {
  width: 32px;
  height: 32px;
}

.card__authors-name {
  font-weight: 800;
  padding-left: 0.75rem;
}
